<%- include("partials/header") %> 
    <body>
        <div class = "quiz-box custom-box">
            <form action="/questions" method="POST">
                <h2>Add A Question:</h2>
                <div class = "form-container">
                    <h3>Question</h3>
                    <textarea name="ques" cols="30" rows="5" maxlength="150" required></textarea><br>
                    <label for="opt1"><strong>Option 1</strong></label><br>
                    <input type="text" name="op1" maxlength="50" required><br>
                    <label for="opt2"><strong>Option 2</strong></label><br>
                    <input type="text" name="op2"maxlength="50" required><br>
                    <label for="opt3"><strong>Option 3</strong></label><br>
                    <input type="text" name="op3"maxlength="50" required><br>
                    <label for="opt4"><strong>Option 4</strong></label><br>
                    <input type="text" name="op4"maxlength="50" required><br>
                    <label for="quantity"><strong>Correct Answer</strong></label>
                    <input type="number" name="ans" min="1" max="4" required><br>
        
                    <input type="submit" value="Submit" class = "btn">
                    
                 </div>
                </form>
    
        </div>
    </body>
<%- include("partials/footer") %> 
