<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheet/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <title>Document</title>
</head>

    <body>
        <div class = "quiz-box custom-box">
            <form action="/questions" method="POST">
                <h2>Add A Question:</h2>
                <h3>Question:</h3>
                <textarea name="ques" cols="30" rows="10"></textarea><br>
                <label for="opt1">Option 1:</label><br>
                <input type="text" name="op1"><br>
                <label for="opt2">Option 2:</label><br>
                <input type="text" name="op2"><br>
                <label for="opt3">Option 3:</label><br>
                <input type="text" name="op3"><br>
                <label for="opt4">Option 4:</label><br>
                <input type="text" name="op4"><br><br>
                <label for="quantity">Correct Answer:</label>
                <input type="number" name="ans" min="1" max="4"><br><br>
    
                <input type="submit" value="Submit">
                </form>
    
        </div>
    </body>
</html>
